# DAaaS are the default owners
*                     @statcan/aaw-maintainers

# Codeowners is restricted
CODEOWNERS            @statcan/aaw-admins
LICENSE               @StatCan/aaw-admins
LICENSE.md            @StatCan/aaw-admins

# Workflows are restricted
/.github/workflows/   @statcan/daaas-workflows

# Project-specific owners
#
# User:
## /example/ @githubuser
# Team:
## /example/ @statcan/teamname
# Multiple can be set on the same line
